body {
    background-color: var(--light-text);
    color: var(--primary);
    margin: 0;
    min-height: 100vh;
}

.navbar-custom {
    background-color: var(--secondary);
    color: var(--primary);
}